// Option A: Include all of Bootstrap

$main-brand: #3976ba;
$light-accent: #5ec84e;
$light-shades: #f6f4f4;
$dark-accent: #3d4857;
$dark-shades: #1b1b1b;

$primary: $main-brand;
$secondary: $light-accent;
$info: $dark-shades;
$success: #469e70;
$warning: #c48e38;
$danger: #f44336;

// Customizations
$body-bg: $dark-shades;
$body-color: #111;

$enable-responsive-font-sizes: true;

.mt-n10 {
  margin-top: -11rem !important;
}

.pb-7 {
  padding-bottom: 4rem !important;
}

.bg-dark-shades {
  background-color: $dark-shades !important;
}

.triangle-top {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 52px solid $light-accent;
  margin-left:31%;
}

.triangle-sub {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 21px solid $light-accent;
  margin-left:31%;
}

.triangle-sub-short {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 21px solid #ffffff;
  margin-left:31%;
}

// All of bootstrap @import
@import '../../node_modules/bootstrap/scss/bootstrap';
